<div class="center hero-unit">
	<h1>This Must Be The Place</h1>
	
	<h2>
		Marvel at my progress as I tackle the
  		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  		sample application.
  	</h2>

  	<%= link_to "Who the /#/$*! are you??", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>